@{
    ViewData["Title"] = "Цветен Блясък";
}

<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
<i><h2>Цветен блясък - Отзиви </h2></i>
<main>
    <section class="section">
        <h2>Отзиви</h2>
        <blockquote>"Страхотен салон! Услугите са на високо ниво." - Анна</blockquote>
        <blockquote>"Прекрасно обслужване!" - Мария</blockquote>
        <blockquote>"Професионализъм на високо ниво!" - Симона</blockquote>
        <blockquote>"Отлично качество на услугите, топло отношение и стилен интериор. Препоръчвам на всички!" - Ванеса</blockquote>
        <blockquote>""Любимото ми място за красота и релакс!"-Емма</blockquote>
        <blockquote>"Салонът е уютен, а резултатът – повече от перфектен!"-Божидара</blockquote>
    </section>
</main>



