@{
    ViewData["Title"] = "Цветен Блясък";
}
<script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
<h2>Галерия</h2>
<section class="section-gallery">
    <div class="gallery">
        <div class="gallery-item">
            <img src="../images/salon.jpg" height="200" width="150" hspace="50" />

        </div>
        <div class="gallery-item">
            <img src="../images/nails4.jpg" height="200" hspace="50" />

        </div>
        <div class="gallery-item">
            <img src="../images/grim5.jpg" height="200" hspace="50" />
        </div>
        <br/>
    <div class="gallery-item">
        <img src="../images/nails5.jpg" height="200" hspace="50" />
    </div>
    <div class="gallery-item">
        <img src="../images/grim6.jpg" height="200" hspace="50" />
    </div>
    <div class="gallery-item">
        <img src="../images/nails6.jpg" height="200" hspace="50" />
    </div>
        <br />
        <br />
        <br />
        <br />
    <div class="gallery-item">
        <img src="../images/makeup1.jpg" height="200" hspace="50" />
    </div>
    <div class="gallery-item">
        <img src="../images/makeup2.jpg" height="200" hspace="50" />
    </div>
    <div class="gallery-item">
        <img src="../images/makeup3.jpg" height="200" hspace="50" />
    </div>
    <div class="gallery-item">
        <img src="../images/nails1.jpg" height="200" hspace="50" />
    </div>
    <div class="gallery-item">
        <img src="../images/nails2.jpg" height="200" hspace="50" />
    </div>
    <div class="gallery-item">
        <img src="../images/nails3.jpg" height="200" hspace="50" />
    </div>
    <div class="gallery-item">
        <img src="../images/salon1.jpg" height="200" hspace="50" />
    </div>
    <div class="gallery-item">
        <img src="../images/salon2.jpg" height="200" hspace="50" />
    </div>
    <div class="gallery-item">
        <img src="../images/salon3.jpg" height="200" hspace="50" />
    </div>
    </div>
</section>
<br />
<br />
<br />
