@{
    ViewData["Title"] = "Цветен Блясък";
}
<script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
<main>
    <section class="section">
        <h2>Добре дошли в салон за красота "Цветен блясък"</h2>
        <p>Тук е мястото, където достигането на съвършенство е реалност. Ние сме тук, за да ви помогнем да постигнете вашите цели за красота бързо и ефективно. Независимо дали искате да се преобразите или просто да се релаксирате, екипът ни от професионалисти ви очаква, за да ви подари едно незабравимо изживяване.</p>
    </section>
</main>

@* <ul>
    <li>
        <img src="Images/salon1.jpg" height="100%" width="auto" hspace="50" />
        <div class="overlay">
            <h1> Всяко едно растение е отгледано от нас с много внимание и грижа</h1>
        </div>
    </li>
    <li>
        <img src="Images/salon.jpg" height="100%" width="auto" hspace="50" />
        <div class="overlay">
            <h1>За въпроси и поръчки не се колебайте да се свържете с нас </h1>
        </div>
    </li>
</ul>
<button type="button" class="slider-nav"></button>
<button type="button" class="slider-nav slider-nav-next"></button>

<div class="slider-indicators">
    <button class="active"></button>
    <button></button>
    <button></button>
</div> *@




<div class="section">

    <div class="gallery">
        <div class="gallery-item">
            <img src="Images/salon.jpg" height="200" width="150" hspace="50" />
        </div>
        <div class="gallery-item">
            <img src="Images/salon1.jpg" height="200" width="150" hspace="50" />
        </div>
    </div>
</div>
<hr/>
<div class="section">
    <h2>Маникюр</h2>
    <p>Отдайте се на най-доброто изживяване и поглезете вашите ръце в студио за красота "Цветен блясък" . Ние разполагаме с екип от висококвалифицирани и опитни маникюристи, които са посветени да останат в челните редици на модните тенденции. За тези, които желаят дълготрайни, устойчиви на счупване нокти, нашите услуги за ноктопластика с гел са идеалното решение. Постигнете безупречни, издръжливи нокти с лъскаво покритие, което издържа седмици..</p>
</div>
<div class="section">
    <h2>Нашите клиентки</h2>
    <div class="gallery">

        <div class="gallery-item">
            <img src="../images/nails1.jpg" height="200" width="150" hspace="50" />

        </div>

        <div class="gallery-item">
            <img src="../images/nails2.jpg" height="200" width="150" hspace="50" />

        </div>

        <div class="gallery-item">
            <img src="../images/nails3.jpg" height="200" width="150" hspace="50" />
        </div>
    </div>
</div>

<div class="table-price">
    <table class="pricing-table">
        <thead>
            <tr>
                <th>Услуга</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Френски маникюр</td>
                <td class="price">45лв</td>
            </tr>
            <tr>
                <td>Гел лак</td>
                <td class="price">35лв</td>
            </tr>
            <tr>
                <td>Гел маникюр</td>
                <td class="price">50лв</td>
            </tr>
            <tr>
                <td>Акрилен маникюр</td>
                <td class="price">55лв</td>
            </tr>
            <tr>
                <td>Маникюр с декорации</td>
                <td class="price">60лв</td>
            </tr>
        </tbody>
    </table>
   </div>
    <hr />
   
    <section class="section">
        <h2>Грим</h2>
        <p>В студио за красота "Цветен блясък" вярваме, че всяко лице е платно и нашите гримьори са тук, за да превърнат вашата визия за красота в реалност, гарантирайки, че ще изглеждате зашеметяващо добре, независимо дали става въпрос за специално събитие, сватба, фотосесия или просто желание да подобрите ежедневната си визия.</p>
    </section>

    <hr/>

    <div class="section_left">
        <h2>Нашите клиентки</h2>
        <div class="gallery">
            <div>
                <img src="../images/grim1.jpg" height="180" width="150" hspace="50" />

            </div>
            <div>
                <img src="../images/grim2.jpg" height="180" width="150" hspace="50" />
            </div>
            <div>
                <img src="../images/grim3.jpg" height="180" width="150" hspace="50" />
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Цени</h1>
        <table>
            <thead>
                <tr>
                    <th>Грим</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ежедневен грим</td>
                    <td>70лв</td>
                </tr>
                <tr>
                    <td>Професионален грим</td>
                    <td>110лв</td>
                </tr>
                <tr>
                    <td>Вечерен грим</td>
                    <td>90лв</td>
                </tr>
                <tr>
                    <td>Булчински грим</td>
                    <td>120лв</td>
                </tr>  
                <tr>
                    <td>Абитуриентски грим</td>
                    <td>130лв</td>
                </tr>
            </tbody>
        </table>    
    </div>
    <br/>
    <br/>
    <br/>
    <br/>

