@model BeautySalon.Data.TypeService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TypeService</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Name) *@
            <label>Име</label>

        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.DateTimeRegister) *@
            <label>Дата</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeRegister)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактиране</a> |
    <a asp-action="Index">Връщане назад</a>
</div>
